{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.about }}
    {{ if .enable }}
    {{ "<!-- About Section Start -->" | safeHTML }}
    {{ $class :=  "img-fluid rounded" }}
    {{ if .shadow }}
        {{ $class := "img-fluid rounded shadow"}}
    {{ end }}
    <section class="about section-xs bg-gray" id="about">
        <div class="container">
            {{ range .item }}
            {{ $.Scratch.Set "height" "" }}
            {{ with .height }}
                {{ $.Scratch.Set "height" (print "height:" . "px") }}
            {{ end }}
            {{ if .positionRight }}
                    <div class="row mt-50 justify-content-center">
                        <div class="col-md-5 col-md-5 col-sm-12 offset-md-1">
                            <div class="content">
                                <h2>{{ .title }}</h2>
                                <p>
                                    {{ .description }}
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-sm-12 text-center">
                            <img src="{{ .image | absURL }}" class="{{ $class }}" style='{{ $.Scratch.Get "height"}}' alt="about-image">
                        </div>
                    </div>
                {{ else }}
                    <div class="row mb-50 justify-content-center">
                        <div class="col-md-5 col-sm-12 text-center offset-md-1">
                            <img src="{{ .image | absURL }}" class="{{ $class }}" style='{{ $.Scratch.Get "height"}}' alt="about-image">
                   </div>
                        <div class="col-md-5 col-sm-12">
                            <div class="content">
                                <h2>{{ .title }}</h2>
                                <p>
                                    {{ .description }}
                                </p>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </section>
    {{"<!-- About section End -->" | safeHTML}}
    {{ end }}
{{ end }}
