{{ if .Site.Params.feature.availability.enable }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.availability }}
{{ "<!-- Start About Section -->" | safeHTML }}
<section class="section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .title }}
                    <h2>{{ . }}</h2>
                    {{ end }}
                    <span class="border"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <ol class="ml-5">
                    {{ range .item }}
                    <li class="mb-3">
                        <img src="{{ .image | absURL }}" class="img-fluid rounded h50 w50 mr-3" alt="avail-image">
                        <h6 class="inline-block">{{ .title | markdownify }}</h6>
                    </li>
                    {{ end }}
                </ol>
                <div class="title text-center">
                <span class="border"></span>
                <div>{{ .more | markdownify }}</div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div id="openMap" style="height: 100%;" class="lol"></div>
                <!-- type="text/javascript">
                    var map = new ol.Map({
                        target: 'openMap',
                        layers: [
                            new ol.layer.Tile({
                                source: new ol.source.OSM()
                            })
                        ],
                        view: new ol.View({
                            center: ol.proj.fromLonLat([8.951754513129218,46.003386272217334]),
                            zoom: 10
                        })
                    });
                -->
            </div>
        </div>
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
{{ end }}
{{ end }}
