{{ with .context }}
{{ if .Site.Params.feature.contact.enable }}
{{ $base := . }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.contact }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section" id="contact">
    <div class="container">
        {{ if $.showTitle }}
        <div class="row">
            <div class="col">
                <div class="title text-center">

                    {{ with .topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}

                    {{ with .subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
                </div>
            </div>
        </div>
        {{ end }}
        {{ partial "contact-form.html" . }}
        {{ if .contactsDisplayEnable }}
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block">
                    <i class="tf-ion-android-pin"></i>
                    <h4>{{ i18n "our-location" }}</h4>
                    {{ with .address }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-telephone"></i>
                    <h4>{{ i18n "contact-us" }}</h4>
                    <p>
                        {{ with .phone }}Office: {{.}} {{ end }}
                        <br> {{ with .fax }} Fax: {{ . }} {{ end }}
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="social-icons-block contact-meta-block">
                    <i class="tf-ion-ios-contact"></i>
                    <h4>{{ i18n "social" }}</h4>
                    <ul class="list-inline social-icon">
                        {{ with .facebook }}
                        <li class="list-inline-item">
                            <a target="_blank" href="{{.}}">
                                <i class="tf-ion-social-facebook"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .twitter }}
                        <li class="list-inline-item">
                            <a target="_blank" href="{{.}}">
                                <i class="tf-ion-social-twitter"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .linkedin }}
                        <li class="list-inline-item">
                            <a target="_blank" href="{{.}}">
                                <i class="tf-ion-social-linkedin"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .dribbble }}
                        <li class="list-inline-item">
                            <a target="_blank" href="{{.}}">
                                <i class="tf-ion-social-dribbble"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .instagram }}
                        <li class="list-inline-item">
                            <a target="_blank" href="{{.}}">
                                <i class="tf-ion-social-instagram"></i>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
