<head>
{{ $data := index .Site.Data .Site.Language.Lang }}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{{ with $data.hero.heading }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
<meta name="og:description" content="{{ with $data.hero.heading }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
<meta name="image" content="{{ `images/logo-loading.png` | absURL }}">
<meta name="og:image" content="{{ `images/logo-loading.png` | absURL }}">
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}


<title>{{ .Site.Title }}
{{ if ne .Site.Title .Title }}
    | {{ .Title }}
{{ end }}
</title>

{{ with .Site.Params.matomo }}
<!-- Matomo -->
<script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//{{ .url }}/";
        _paq.push(['setTrackerUrl', u+'{{ .fileName }}.php']);
        _paq.push(['setSiteId', '{{ .ID }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'{{ .fileName }}.js'; s.parentNode.insertBefore(g,s);
    })();
</script>

<noscript><p><img src="//track.visin.ch/matomo.php?idsite={{ .ID }}&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
{{ end }}
{{ "<!-- Mobile Specific Meta -->" | safeHTML }}
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ "<!-- Favicon -->" | safeHTML }}
<link rel="shortcut icon" type="image/x-icon" href="{{ `images/favicon.ico` | absURL }}" />

{{"<!-- Stylesheets -->" | safeHTML}}
{{ "<!-- Themefisher Icon font -->" | safeHTML }}
<link rel="stylesheet" href="{{ `plugins/themefisher-font/style.css` | absURL }}">
{{ "<!-- bootstrap.min css -->" | safeHTML}}
<link rel="stylesheet" href="{{ `plugins/bootstrap/dist/css/bootstrap.min.css` | absURL }}">
{{ "<!-- Lightbox.min css -->" | safeHTML }}
<!--<link rel="stylesheet" href="{{ `plugins/lightbox2/dist/css/lightbox.min.css` | absURL }}">-->
{{ "<!-- Slick Carousel -->" | safeHTML }}
<link rel="stylesheet" href="{{ `plugins/slick-carousel/slick/slick.css` | absURL }}">
<link rel="stylesheet" href="{{ `plugins/slick-carousel/slick/slick-theme.css` | absURL }}">
{{ "<!-- Main Stylesheet -->" | safeHTML }}

{{ $map := resources.Get "js/leaflet.js" | minify}}
<script src="{{ $map.Permalink }}"></script>
{{ $map := resources.Get "js/leaflet.ajax.js" | minify}}
<script src="{{ $map.Permalink }}"></script>

{{ $styles := resources.Get "css/style.css" | minify}}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

{{ $styles := resources.Get "css/ribbon.css" | minify}}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

{{ $styles := resources.Get "css/leaflet.css" | minify}}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

{{ $map := resources.Get "js/map.js" | minify}}
<script type="module" src="{{ $map.Permalink }}"></script>
</head>
