{{ if .Site.Params.feature.hero.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.hero }}
<section class="section-bg hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="video-player">
                    <img class="img-fluid rounded" src="{{ with .videoThumb }}{{.| absURL }}{{ end }}" alt="video-thumb">
                    {{ if $.Site.Params.feature.hero.movie }}
                    <a class="play-icon" href="javascript:void(0)">
                        <i class="tf-ion-play" data-video="{{ with .videoURL }}{{.}}{{ end }}?autoplay=1"></i>
                    </a>
                    {{ end }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    {{ with .title }}
                        <h2>{{ . | markdownify }}</h2>
                    {{ end }}
                    {{ with .heading }}
                        <h3 class="mb-5">{{ . | markdownify }}</h3>
                    {{ end }}
                    {{ with .description }}
                        <p>{{ . | markdownify }}</p>
                    {{ end }}
                    {{ if $.Site.Params.feature.hero.button }}
                        <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                            <li class="list-inline-item">
                                <a href="{{ with .btnURL }}{{.}}{{ end }}" target="_blank" class="btn btn-main">{{ with .btnText }}{{.}}{{ end }}</a>
                            </li>
                        </ul>
                    {{ end }}
                    {{ if $.Site.Params.feature.hero.badges }}
                        <div class="hero-badge mt-5">
                            <div class="container" style="max-width: 350px">
                                <div class="row">
                                    <div class="col-6">
                                        <a {{ if $.Site.Params.preview }}id="hideiOS"{{ end }}href="{{ if $.Site.Params.preview }}#{{ else }}{{ $.Site.Params.feature.hero.badgeiOS | absURL }}{{ end }}" {{ if not ($.Site.Params.preview)  }}target="_blank"{{ end }} >
                                        <img class="app-badge" src='{{"/images/App_Store_Badge.svg" | absURL }}' alt="App Store"/>
                                    </a>
                                    </div>
                                    <div class="col-6">
                                        <a {{ if $.Site.Params.preview }}id="hideAndroid"{{ end }}href="{{ if $.Site.Params.preview }}#{{ else }}{{ $.Site.Params.feature.hero.Android | absURL }}{{ end }}" {{ if not ($.Site.Params.preview)  }}target="_blank"{{ end }} >
                                        <img class="app-badge" src='{{"/images/Google_Play_Store_badge.svg" | absURL }}' alt="Google Play"/>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ end }}

                </div>
                {{ if $.Site.Params.preview }}
                <div id="register" class="register" style="display: none">
                    {{ partial "register.html" $ }}
                </div>
                {{ end }}
            </div>
        </div>

    </div>
</section>
{{ end }}
{{ end }}
