{{ if .Site.Params.feature.host.enable }}
{{ "<!-- Start Host Section -->" | safeHTML }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.host }}
<section class="section bg-gray" id="host">
    <div class="container">
        <div class="row">
            <div class="title col-12 col-md-5">
                {{ with .title }}
                <h2>{{ . }}</h2>
                {{ end }}
            </div>
            <div class="col-12 col-md-7">
                {{ with .description }}
                <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ "<!-- End Host section -->" | safeHTML }}
{{ end }}
{{ end }}
