{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.pricing }}
    {{ if .enable }}
    {{ "<!-- Start Pricing section -->" | safeHTML }}
    <section class="section-bg pricing-table section" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}<h4>{{.}}</h4>{{ end }}
                        {{ with .title }}
                        <h2>{{.}}</h2>
                        <span class="border"></span>
                        {{ end }}
                        {{ with .subtitle }}<p>{{.}}</p>{{ end }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {{ range .item }}
                {{ "<!-- single pricing table -->" | safeHTML }}
                <div class="col-md-4 col-sm-6 col-xs-12 mb-3 mb-md-0">
                    <div class="pricing-item">
                        {{ "<!-- plan name & value -->" | safeHTML }}
                        <div class="price-title bg-pricing"
                         {{ with .image }}
                             style="background-image: var(--image-overlay), url({{ . }})"
                         {{ end }}
                        >
                            {{ with .name }}<h3>{{.}}</h3>{{ end }}
                            {{ with .price }}<strong class="value">{{.}}</strong>{{ end }}
                            {{ with .description }}<p>{{.}}</p>{{ end }}
                        </div>
                        {{ "<!-- plan description -->" | safeHTML }}
                        <ul class="pricing-features">
                            {{ range .featurelist }}
                            <li>{{.item | safeHTML }}</li>
                            {{ end }}
                        </ul>
                        {{ "<!-- signup button -->" | safeHTML }}
                        <div class="bottom mb-3">
                            <a class="btn btn-main" onclick="sendEvent({{ .name }})" href="{{.btnURL | relLangURL }}">{{.btnText}}</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </section>
    {{ "<!-- End section -->" | safeHTML }}
    {{ end }}
{{ end }}
