{{ "<!-- Start Register Mailinglist -->" | safeHTML }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.register }}
<section style="background-color: rgba(0, 0, 0, 0.7); z-index: 1; margin-top: -95px" class="contact-us" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="color-gray text-center">
                    {{ with .title }}
                    <h3>{{.}}</h3>
                    {{ end }}
                    {{ with .subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">

            {{ "<!-- Contact Form --> " | safeHTML }}
            <form id="contact-form" class="register-form" method="post" action="sendmail.php" role="form">
                <div class="container mt-2">
                    <div class="row">
                        <div class="form-group col-7">
                            <input type="email" placeholder='{{ i18n "email" }}' class="form-control"
                                   name="email" id="email">
                        </div>

                        <div id="mail-success" class="success">
                            {{ i18n "register-success-message" }}
                        </div>

                        <div id="mail-fail" class="error">
                            {{ i18n "register-fail-message" }}
                        </div>

                        <div id="cf-submit" class="col-5">
                            <input type="submit" id="register-submit" class="btn btn-transparent"
                                   value='{{ i18n "register" }}'>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{{ end }}
