{{ if .Site.Params.feature.team.enable }}

    {{ $data := index .Site.Data .Site.Language.Lang }}

    {{ "<!-- Team Section Start -->" | safeHTML }}
    <section class="team section" id="team">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with $data.team.topTitle }}<h4>{{ . }}</h4>{{ end }}
                        {{ with $data.team.title }}
                            <h2>{{ . }}</h2>
                            <span class="border"></span>
                        {{ end }}
                        {{ with $data.team.subtitle }}<p>{{ . }}</p>{{ end }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {{ $enableDesignation := .Site.Params.feature.team.enableDesignation }}
                {{ range $data.team.member }}
                    {{ "<!-- team member -->" | safeHTML }}
                    <div class="col-12 col-md-3 col-sm-6 mb-2">
                        <div class="team-member text-center">
                            <div class="member-photo zoom">
                                <img class="img-fluid" src="{{.image | absURL }}" alt="team people">
                            </div>
                            {{ "<!-- member name & designation -->" | safeHTML }}
                            <div class="member-content">
                                <h3>{{ .name }}</h3>
                                {{ if $enableDesignation }}
                                <span>{{ .designation }}</span>
                                {{ end }}
                                <p>{{ .description }}</p>
                            </div>
                            <div style="height: 30px"></div>
                            <div class="social mb-3">
                                <ul class="list-inline">
                                    {{ with .facebookURL }}
                                    <li class="list-inline-item">
                                        <a target="_blank" href="{{.}}">
                                            <i class="tf-ion-social-facebook"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                    {{ with .twitterURL }}
                                    <li class="list-inline-item">
                                        <a target="_blank" href="{{.}}">
                                            <i class="tf-ion-social-twitter"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                    {{ with .gplusURL }}
                                    <li class="list-inline-item">
                                        <a target="_blank" href="{{.}}">
                                            <i class="tf-ion-social-google-outline"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                    {{ with .linkedinURL }}
                                    <li class="list-inline-item">
                                        <a target="_blank" href="{{.}}">
                                            <i class="tf-ion-social-linkedin"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{ "<!-- end team member -->" | safeHTML }}
                {{ end }}

            </div>
        </div>
    </section>
    {{ "<!-- End section -->" | safeHTML }}
{{ end }}
